body {
	font-family: Arial;
}

.affiBox,
.cardBox {
	border:5px solid black;
	margin-bottom:25px;	
}

.affiBox > div,
.cardBox > div {
	font-size:25px
}

#infoBox {
	position:fixed;
	width: 400px;
	right:10px;
}

